body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
    background-color: #38435a;
}

.create-form-container {
    display: flex;
    justify-content: space-evenly;
}

.create-form {
    margin: 20px 0;
    border: 2px solid lightgray;
    padding: 10px;
    height: 500px;
    width : 300px;
}

.create-form > span {
    display: inline-block;
    margin: 15px 0 10px 0;
}

.create-form > form > button {
    display: block;
    margin: 15px auto;
    background-color: rgb(52, 152, 219);
    color: white;
}

.truck-list-container {
    margin: 20px auto 40px auto;
    border: 1px solid lightgray; 
    
}

.truck-list-container > h4 {
    padding-left: 20px;
}

.truck-list-container > ul > li {
    border-top: 1px solid lightslategray;
}

.truck-container {
    padding-left: 20px;
}